/* ROOT VARIABLES */
:root {
  --background-color: #353739;
  --font-color: #d3d3d3;
  --olive-green: #77a179;
  --bright-green: #32a138;
  --hover-bright-green: #009708;
  --lighter-gray: #707b7c;
  --medium-gray: #515a5a;
  --headline-font: "Roboto", sans-serif;
  --content-font: "Montserrat", sans-serif;
}

/* BODY */
body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--content-font);
}

/* HOMEPAGE */
/* Jumbotron */
#homepageJumbotron {
  position: relative;
  background: url("/assets/images/Blank\ 6\ Grids\ Collage\ \(1\).png") center
    center;
  background-size: cover;
  overflow: hidden;
  color: white;
  text-align: center;
  padding: 150px 20px; /* Increase padding for more height */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

#homepageHeader {
  color: var(--font-color);
  font-size: 40px;
}

#homepageDescription {
  font-family: var(--headline-font);
  font-size: 80px;
  color: white;
  margin-bottom: 0.5em;
}

.jumbotron p {
  font-family: sans-serif;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.btn {
  background-color: #d3d3d3;
  color: #353739;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 1.2em;
  transition: background-color 0.3s;
  border: none;
}

.btn:hover {
  background-color: #515a5a !important;
  color: #d3d3d3 !important;
}

#jumbotronButton {
  color: white;
  padding: 20px 40px;
  text-decoration: none;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 1.2em;
  transition: background-color 0.3s;
  border: none;
  background-color: var(--olive-green);
}

#jumbotronButton:hover {
  background-color: #515a5a;
  color: #d3d3d3;
}

#quote {
  color: white;
  font-family: var(--content-font);
  font-size: 30px;
}

/* CALENDAR PAGE */

/* Plus Button */
#plus-button {
  background-color: var(--bright-green);
  color: var(--font-color);
  font-family: var(--headline-font);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 0;
}

#plus-button:hover {
  background-color: var(--hover-bright-green);
}

/* Table */
#table {
  border: 1px ridge var(--lighter-gray);
  border-radius: 15px;
  overflow: hidden;
}

tr {
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
}

#day {
  font-size: 25px;
  font-family: var(--headline-font);
}

.table-bordered > :not(caption) > * > * {
  border-width: 0px;
}

.present {
  --bs-table-bg: #e7b416;
}

.future {
  --bs-table-bg: #99c140;
}

/* Modal/Form */
.modal-header {
  font-family: var(--headline-font);
  background: var(--olive-green);
}

.modal-title {
  font-weight: bold;
}
.modal-body {
  font-family: var(--content-font);
}

#form-submit-btn {
  background: var(--bright-green);
  color: white;
}

#form-submit-btn:hover {
  background: var(--hover-bright-green);
}

.form-select {
  transition: all 0.3s ease;
}

/*time*/
/*need to add some CSS for the buttons and the time input field*/

/* WORKOUT PAGE */

.card {
  background-color: var(--medium-gray);
  color: var(--font-color);
}

.card-title {
  color: var(--olive-green);
}

.card-text {
  color: var(--font-color);
}

h2 {
  color: var(--olive-green);
}

.row {
  margin-top: 15px;
}

.col-md-4 {
  margin-bottom: 15px;
}

iframe {
  border: 0;
  border-radius: 10px;
}

/* FOOTER */

footer {
  position: static;
  margin-top: 25px;
  padding-top: 25px;
  width: 100%;
  display: block;
  height: 150px;
  background-color: var(--background-color);
  color: var(--font-color);
  text-align: center;
}
footer img {
  margin-bottom: 10px;
}

footer a {
  color: var(--font-color);
}
